.debug-stats {

  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;

  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 12px;
  font-family: monospace;
  z-index: 1000;
}