.penguin {
  width: 2em;
  height: 3em;
  position: absolute;
  bottom: -1em;
  left: 0;
  transform-origin: bottom center;
  transform: rotateY(45deg);
}

.penguin-svg {
  width: 100%;
  height: 100%;
  position: relative;
  left: -1em;
  // transform: none !important;
  // transform-origin: top left;
  // transform: scale3d(0.05, 0.05, 1);
}

.wing-group {
}

.wing-group {
  transform-box: fill-box;
  transform-origin: top center;
  transform: rotateZ(0deg);
  // animation: wing-swing 1s ease-in-out infinite;
}

.eye-opened {
  // transform: scaleY(1);
}
.eye-closed {
  // display: block !important;
}

.eye-group {
  transform-box: fill-box;
  transform-origin: center center;
  transform: scaleY(1);
  // animation: eye-blink-animation 3s ease-in-out infinite;
}

@keyframes wing-swing {
  0% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

@keyframes eye-blink-animation {
  0% {
    transform: scaleY(0);
  }
  3% {
    transform: scaleY(1);
  }
  97% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
